# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AsaTutorialWebApi.iml
# Datasource local storage ignored files
/../../../../../../../:\repo\unity_proj\AsaTutorialWebApi\.idea\.idea.AsaTutorialWebApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
